.c23 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.c22 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body {
    background: #e1d66f;

    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEQovPxKN81FMV2bPw76f-qhXBAA2hCWKvfA&usqp=CAU");

}

h1 {
h1 {color: #CD6829;}
div {
    background: #CDD6DB;
    opacity: .3;
}
}

.c1 {
    margin: 30px;
    width: 300px;
    border-left: 5px solid #d09139;
    border-radius: 15px;
    padding-left: 15px;

}

.c2 {
    width: 300px;
    border-left: 5px solid #d09139;
    border-right: 5px solid #d09139;
    margin: 30px;
    background: #e1d66f;
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}